<html lang="en">
  <head>
   {{>headerlinks}}
  </head>

  <body>
    {{>navbar}}

    <!-- Main Header -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <img src="images/coder.png" alt="farru" />
              </figure>
            </div>

            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to My<span class="text_color"> Info </span> Page</p>
              <h1>
                I Am a
                <span class="text_color"> Mern Stack Developer </span>
              </h1>
              <p>
                Learn MERN
                <span
                  class="text_color1"
                >(MongoDB,ExpressJS,ReactJS,NodeJS)</span>
                With Me
              </p>

              <a
                href="https://www.twitter.com/imfarruk"
                target="_blank"
                title="Farhan Khan"
              ><button>About Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer  -->
    {{>footer}}

    <script src="scripts.js"></script>
  </body>
</html>